body{
	font-family: sans-serif;
	padding: 5px;
}
.header h1{
	margin-bottom: 30x;
	margin-top: 0;

}
header hr{
	margin-bottom: 3px;
}

/*abarca todo el texto de la pagina*/
.biography{
	
	width: 73%; /*abarca el 75% de nuestra pantalla*/
	display: inline-block;/*abarca el espacio necesitado*/
	font-size: 14px;
	line-height: 1.4;
}

/*abarca toda la tabla*/
.sumary {  

	display: inline-block;/*ocupa solo el espacio que necesita*/
	vertical-align: top;
	width: 20%;
	margin-top: 15px;
}
.sumary-table{
	border: 1px solid gray;
	background-color: #f8f9fa;
	padding: 1px;
	font-size: 14px;
}
.sumary-table thead th {
	background-color: #B0C4DE;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 16px;
}

.sumary-table tbody tr:first-child{
	text-align: center;
}
.sumary-table tbody th{
	text-align: left;
}
